.footer{
    background-color: rgb(48, 41, 41);
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    align-items: center;
    text-align: center;
}